
select{
  height:34px;
  border: 2px soft black;
}
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height:37px;
  border-radius: 4px;
}
body {
 background-color: grey
}
.button {
  background-color: #04AA6D;
  color: white;
  margin: 8px 0;
  border: none;
  width: 45%;
  left:100px;
  height:37px;

}
.board-list{
  border: solid black 1px;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}
button{
  border-radius: 4px;
}
.form{
  height:auto;
  width: 100%;
  padding-left: 30%;
}
.form-sign{
  padding-left: 30%;
  height:auto;
  width: 80%;
}
.log{
  padding-left: 20%;
  padding-right: 30%;
  width:auto;
}
.formdiv{
  width:auto;
  border: solid none 1px;
  
}
.cancelbtn {
  width: 45%;
  border:none;
  background-color: #f44336;
  height:37px;

}
.boardpg{
  padding-top:8px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border:none;
  background-color: #f44336;
  height:37px;
  text-align: center;
  border-radius: 4px;;
}
.boardpgs{
  padding-top:8px;
  padding-bottom: 10px;
  padding-right: 86px;
  padding-left: 90px;
  border:none;
  background-color: #f44336;
  height:37px;
  text-align: center;
  border-radius: 4px;
  width:300px;
}

.boardpg:hover{
  opacity: 0.8;
}
.removebtn {
  width: 10%;
  padding: 10px;
  border:none;
  background-color: #f44336;
  height:37px;

}
h4{
  color:red;
}
input:hover{
  border-color: red;
}
p{
  width:auto;
  height: auto;;
  text-align: left;
  padding-top: 1%;
  color: black;
  font-size: larger;
  opacity: 0.7;
}
.addbtn {
  width: 10%;
  border:none;
  background-color:green;
  height:37px;

}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
 padding-left: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

